.slider-container {
    display: flex;
    align-items: center;
    width: 95px;
    /*height: 40px;*/
    /*margin: 10px 0;*/
    position: relative;
    /*margin-top: -5px;*/
}
.slider-bar {
    width: 95px;
    height: 8px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
}
.temperature-range {
    height: 8px;
    border-radius: 10px;
    position: absolute;
}