.en-euronews-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
}

.ios .en-euronews-header{
    padding-top: 35px;
    height: 80px;
}

.en-euronews-title {
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
}

.en-read-content {
    text-align: center;
}

.en-read-icon {
    font-size: 60px;
    border: 1px solid #bdbec0;
    color: #bdbec0;
    padding: 30px;
    border-radius: 65px;
    margin-top: 25%;
}

.en-read-text {
    font-size: 22px;
    padding: 0 56px ;
}