.alert-wrapper.sc-ion-alert-md {
    border-radius: 15px;
}

.alert-title.sc-ion-alert-md {
    text-align: center;
}

.alert-message.sc-ion-alert-md {
    font-size: 14px;
    text-align: center;
}

.alert-button-group.sc-ion-alert-md {
    padding: 0;
}

.alert-button.sc-ion-alert-md {
    border-top: 1px solid #eee;
    width: 100%;
    margin: 0;
    text-align: center !important;
    align-items: center;
    display: flex;
    
    border-radius: 0;
}

.alert-button-inner.sc-ion-alert-md {
    justify-content: center !important;
}

.ios .en-modaltutorial-close{
    margin-top: 20px;
    font-size: 25px
}