.en-views-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
}

.ios .en-views-header{
    padding-top: 35px;
    height: 80px;
}

.en-views-title {
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
    margin-right: 12%;
}

.en-views-content {
    color: #395364;
}
