.en-app-social {
    text-align: center;
    display:flex;
    justify-content: space-around;
    /* border-bottom: 0.1px solid grey; */
    padding-bottom: 5px;
    padding-top:25px;
    margin: 0 auto;
    width:60%;
}

.en-app-social-icon {
    font-size: 30px;
    color: #666666;
}