.en-home-featured-sections-title-PROGRAMMES{
    background-color: #235383;
    color : white;
}
.en-home-search-title {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    /*background: #0d1b698a;*/
    /*padding: 3px 10px;*/
    /*border-radius: 5px;*/
  }
  .RightBottom {
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%);
    color:white;
  }
  .RightBottomLatest {
    position: absolute;
    transform: translate(1650%, -180%);
    color:white;
  }
  .en-home-hot-topics {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.en-home-hot-topics-title {
    font-size: 14px;
    color: #2f70e6;
    text-align: center;
    margin-bottom: 10px;
}

.en-home-hot-topics-category {
    text-decoration: none;
    background-color: #2f70e6;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 1.2;
}
.en-home-hot-topics-category-link{
    text-decoration: none;
    font-weight: 500;
}
.en-home-hot-topics-icon {
    float: right;
    width: 10px;
    height: 12px;
    margin-top: 2px;
    margin-left: 10px;
}

.theme-img {
    background-color: rgba(0, 0, 0, 0.4);
}

.theme-section{
    max-height:107px !important;
    overflow:hidden;
    margin-top: 1px;
}
.theme-img{
    max-height:100%;
     max-width:100%;
     object-fit: contain;
    /*opacity: 0.55;*/
    /*min-height: 110px;*/
}