.en-home-news-1-tithe {
    padding: 0 8px;
    margin-bottom: 25px;
}

.en-home-big-story {
    position: relative;
}

.en-home-big-story-label {
    position: absolute;
    bottom: -15px;
    width: auto;
    background-color: #fff;
    border-radius: 0 15px 15px 0;

}

.explore-overlay {
    background: #000;
}

.searchbar-input.sc-ion-searchbar-md {
    --placeholder-opacity: 1;
}

.max-lines-3 {
    /*display: block;!* or inline-block *!*/
    /*text-overflow: ellipsis;*/
    /*word-wrap: break-word;*/
    /*overflow: hidden;*/
    /*max-height: 3.6em;*/
    /*line-height: 1.2em;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.en-home-ad {
    background-color: #f1f5f6;
    padding-top: 3px;
    
}

.en-home-ad-title {
    font-size: 12px;
    color: #bbbbbb;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    /*padding: 10px;*/
    /*margin-top: 3px;*/
}

.en-home-ad-img {
    margin: 10px 60px;
}

.en-home-featured-content {
    background-color: #235383;
    height: auto;
    padding: 10px 0 10px 10px;
}

.en-home-featured-content-title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
.en-home-featured-content-news-link{
    text-decoration: none;
}
.en-home-icon {
    /*margin-top: 2px;*/
}

.en-home-featured-content .en-home-featured-content-news {
    background-color: #fff;
    width: 240px;
    height: auto;
    text-align: left !important;
    margin-right: 10px;
    position: relative;
    padding-bottom: 40px;
}

.en-home-featured-content-news-img-div {
    height: 150px;
}

.en-home-sponsored {
    margin-top: 25px;
}

.en-home-featured-content-news-img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    height: 140px;
    object-fit: cover;
}

.en-home-featured-content-news-title {
    font-weight:bold;
    width: 240px;
    color: black;
    padding-left: 10px;
    padding-right:5px;
    /*padding-top:10px;*/
    /*margin-top: 10px;*/
}

.en-home-featured-content-news-located {
    color: #9f9f9f;
    width: 240px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 11px;
    padding-left: 10px;
    margin-top: 5px;
}

.en-home-featured-content-news-category {
    height: 40px;
    border-top: 1px solid #f6f6f6;
    width: 240px;
    padding: 10px;
    color: #9f9f9f;
    font-size: 11px;
    background-color: none;
    display: block;
    position: absolute;
    bottom: 0;
}

.en-home-special-thematic {
    background-color: #f1f5f6;
    height: auto;
}

.en-home-special-thematic-category-title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: black;
}

.en-home-special-thematic ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.uncovering-link-title{
    text-decoration: none;
    font-weight: bold;
}

.en-home-special-thematic-title {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 30px;
    color: black;
}

.en-home-special-thematic-located {
    color: #9f9f9f;
    font-size: 11px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.en-home-ad-no-background {
    background-color: #fff;
}

.en-home-featured-sections {
    background-color: #f1f5f6;
}
.en-home-featured-sections-title {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin-top: 3px;
}

.en-home-featured-section-travel {
    margin-right: 1px;
    margin-bottom: 1px;
    display: block;
    height: 110px;
    object-fit: cover;
}

.en-home-featured-section-green {
    margin-left: 1px;
    margin-bottom: 1px;
    display: block;
}

.en-home-featured-section-next {
    margin-top: 1px;
    margin-right: 1px;
    display: block;
}

.en-home-featured-section-culture {
    margin-top: 1px;
    margin-left: 1px;
    display: block;
}

.en-home-latest-video {
    background-color: #081f2d;
    height: auto;
    padding: 10px 0 10px 10px;
}

.en-home-latest-video-title {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 7px;
    margin-top: 4px;
}

.en-home-latest-video-icon {
    float: right;
    width: 10px;
    height: 12px;
    margin-top: 3px;
}

.en-home-latest-video .en-home-latest-video-news {
    
    background-color: #1c3247;
    width: 240px;
    height: auto;
    margin-right: 10px;
    position: relative;
}

.en-icon-video-play {
    position: absolute;
    color: #fff;
    top: 28%;
    right: 10%;
    font-size: 25px;
    
}

.en-home-latest-video-news-img {
    width: 240px;
    height:140px;
    object-fit: fill;
}

.en-home-latest-video-news-content {
    height: 110px;
    text-align: left;
    padding-top: 5px;
}

.en-home-latest-video-news-title {
    width: 240px;
    text-align: left;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.en-home-latest-video-news-time {
    text-align: left;
    color: #9f9f9f;
    font-size: 11px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 240px;
    padding-left: 5px;
    margin-top: 5px;
}

.en-home-latest-video-news-category {
    height: 40px;
    border-top: 1px solid #fff;
    width: 240px;
    padding: 10px;
    color: #9f9f9f;
    font-size: 11px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.en-home-latest-video-view-more div {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    width: 150px;
}

.en-home-hot-topics {
    background-color: #2f70e6;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}



.en-home-hot-topics-title {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.en-home-hot-topic-category {
    background-color: #fff;
    color: #2f70e6;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
}
.en-home-hot-topic-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.en-home-hot-topics-icon {
    float: right;
    width: 10px;
    height: 12px;
    margin-top: 2px;
    margin-left: 10px;
}

.sc-ion-searchbar-md-h {
    --box-shadow: none;
    --background: #d4d4d4;
    --border-radius: 5px;
}

::-webkit-input-placeholder{
    color: white;
}

.searchbar-input.sc-ion-searchbar-md {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
    padding-inline-start: 46px;
    color: black;
}

.searchbar-search-icon.sc-ion-searchbar-md {
    color: #9f9f9f;
    top: 9px;
}
.en-home-search-title {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.en-home-sponsored-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.en-home-sponsored-content-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}
.en-home-sponsored-content-time{
    font-size: 12px;
    color: #9f9f9f;
    margin-left:10px
}

.en-home-sponsored-content-description {
    color: #9f9f9f;
    font-size: 11px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.animate-skeleton-background {
    margin-top:1rem;
    /*background-image: url("/assets/images/EU-LOGO-WHITE.png");*/
    /*background-image: url("/assets/images/skeleton_logo_new.png");*/
    background-image: url("/assets/images/en_logo_new_transparent_skeleton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position-x: center;
}
.refresher-pulling-icon, .refresher-refreshing-icon{
    background-color: transparent !important;
    color: #000 !important;
    border: none !important;
}

ion-refresher.refresher-native ion-spinner {
    color: #fff;
}
ion-skeleton-text{
    /* --background-rgb: 0, 85, 134; */
}

  
.swiper-button-next { 
    color: white !important;
    height:10px
}
       
.swiper-button-prev { 
    color: white !important;
}

.en-latest-news {
    position: relative;
}

.en-home-ad a div {
    max-height: 200px !important;
}
.en-icon-news-play {
    position: absolute;
    color: #fff;
    top: 57%;
    right: 9%;
    font-size: 30px;
}

.ionContentModal{
    --background: transparent !important
}

.en-modalvideo-close-icon{
    font-size:22px
}
.featured-section{
    max-height:107px !important;
    overflow:hidden;
}
.featured-img{
    max-height:100%;
     max-width:100%;
     /*object-fit: contain;*/

}