.en-inside-header {
    background-color: transparent;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
}

.ios .en-inside-header {
    padding-top: 35px;
    height: 75px;
}

.en-inside-title {
    text-align: center;
    font-size: 16px;
    color: #000;
    padding-top: 15px !important;
}

.en-inside-back {
    color: #fff;
    height: unset;
    width: unset;
    margin-top: 9px;
    position: absolute;
    z-index: 1;
}

.en-inside-big-story {
    margin-bottom: 30px;
}

.en-inside-news-tithe {
    font-size: 20px;
    margin-bottom: 4px;
}