.en-justin-day-title {
    /*margin-top:-2px;*/
    background-color: #163a5c;
    height: 40px;
    color: #fff;
    font-size: 14px;
    justify-content: center !important;
    align-items: center !important;
}
