.en-latestvideos-big-story {
    background-color: #1c3247;
    padding-bottom: 35px !important;
    border-bottom: 2px solid #fff;
}

.en-latestvideos-label {
    position: absolute;
    bottom: -15px;
    width: auto;
    background-color: #1c3247;
    border-radius: 0 15px 15px 0;
}

.en-latestvideo-tithe {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 4px;
    color: #fff;
}

.en-listpagewithmodal-ad {
    background-color: #081f2d;
}

.en-video-global-conversation-title {
    background-color: #081f2d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 40px;
}

.en-modal {
    --background: #081f2d;
    overflow: auto;
}
.en-modal-about {
    --background: #ffffff;
    overflow: auto;
}

.en-modal > div {
    overflow: auto;
}

.en-modal-title {
    color: #fff;
    background-color: #081f2d;
    font-size: 16px;
    text-align: center;
    height: 40px;
    
}

.en-modalvideo-close {
    margin-top: 3px;
    color:#ffffff;
}
.en-modaltutorial-close {
    font-size:25px;
    margin-top: 3px;
    color:#000000;
}

.en-video-musica-title {
    background-color: #081f2d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 40px;
}

.en-video-programmes-title {
    background-color: #081f2d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 40px;
}

.en-video-programmes-category-right {
    margin-left: 1px;
    margin-bottom: 2px;
}

.en-video-programmes-category-left {
    margin-right: 0.5px;
    
}