.en-notification-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
    font-size: 14px;
}

.ios .en-notification-header{
    padding-top: 35px;
    height: 80px;
}

.en-notif-title {
    color: #565656;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.en-notif-subcrib {
    margin-left: 30px;
    color: #565656;
    margin-top: 20px;
}

.en-notif-subcrib-close {
    font-size: 38px;
    color: #f73c43;
    margin-top: 13px;
}

.en-notif-manage {
    color: #575757;
    margin-left: 30px;
}

