.en-privacy-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
    font-size: 14px;
}

ion-title{
    font-weight: 600;
}
ion-label{
    font-weight: 600;
}

.ios .en-privacy-header{
    padding-top: 35px;
    height: 80px;
}

.en-privacy-title {
    text-align: center;
    margin-top: 18px;
    font-size: 16px;
}

.en-version {
    padding-right: 12px;
}
.en-terms {
    padding: 0 12px;
}

.en-terms-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.en-terms-link{
    color: #3880ff;
    font-weight: bold;
}
