.en-readitlater-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
    text-align: center;
    position: relative;
}


.ios .en-readitlater-header{
    padding-top: 30px;
    height: 80px;
}

.en-readitlater-back-button {
    position: absolute;
    z-index: 1;
}

.en-readitlater-title {
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
}

.en-read-content {
    text-align: center;
}

.en-read-icon {
    font-size: 60px;
    border: 1px solid #bdbec0;
    color: #bdbec0;
    padding: 30px;
    border-radius: 65px;
    margin-top: 25%;
}

.en-read-text {
    font-size: 22px;
    padding: 0 56px ;
}

.en-edit-button {
    --background: transparent;
    --box-shadow: none;
    position: absolute;
    top: 3px;
    right: 5px;
    color: #fff;
}

.ios .en-edit-button {
    top: 43%;
}

.en-cancel-button {
    --background: transparent;
    --box-shadow: none;
    position: absolute;
    top: 3px;
    right: 5px;
    color: #fff;
}

.ios .en-cancel-button {
    top: 43%;
}
.en-delete-button {
    --background: transparent;
    --box-shadow: none;
    position: absolute;
    top: 3px;
    left: 15px;
    z-index: 1;
    color: #fff;
}

.ios .en-delete-button {
    top: 43%;
}

.en-readitlater-story{
    position: relative;
}

.en-readitlater-story-checked {
    background-color: rgba(255, 255, 255, .93);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.en-readitlater-story-checkbox {
    --border-radius: 50%;
    --border-width: 1px;
    --size: 25px;
    --checkmark-width: 2px;
    --background-checked: #ee2629;
    --border-color-checked: #ee2629;
    opacity: 0;
    transition: all .1s ease;
}

