
.en-readitlater-back-button {
    position: absolute;
    z-index: 1;
}

.en-readitlater-title {
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
}


.en-search-text {
    font-size: 12px;
    text-align: center;
}

