.en-services-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    text-align: center;
    color: #fff;
    height: 60px;
    padding-top: 15px;
    font-size: 14px;
}

.ios .en-services-header {
    padding-top: 40px;
    height: 85px;
  }

.en-services-item-title {
    font-size: 14px;
    font-weight: 500;
}

.en-services-item-title-lighter {
    font-size: 14px;
    font-weight: 400;
}