.en-settings-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.ios .en-settings-header{
    padding-top: 35px;
    height: 80px;
}

.en-settings-title {
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
}

.en-settings-back-button {
    height: unset;
    margin-top: 9px;
    font-size: 16px;
    position: absolute;
    z-index: 1;
}

.en-relatedstories-back-button {
    --background: none;
    --box-shadow: none !important;
    position: absolute;
    left: 10px;
    top: 3px;
    z-index: 1;
}

.en-settings-item {
    border-bottom: 1px solid #dbdbdb;
}

.en-settings-item-title {
    font-size: 16px;
}

.en-settings-item-descripton {
    font-size: 14px;
    color: #9f9f9f;
    /* margin-bottom: 25px; */
}

.en-settings-item-saving {
    font-size: 14px;
    margin-bottom: 15px;
}

.en-settings-text-size-div{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.en-toggle {
    padding: 4px;
}