.e-storypage-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    height: 40px;
    color: #fff;
}

.ios .e-storypage-header {
    padding-top: 35px;
    height: 75px;
}

.en-share-button-icon {
    color: #0976f0;
    margin-right: 5px;
    font-size: 25px;
}

.en-share-button {
    --background: transparent !important;
    --box-shadow: none !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}

.en-save-button-icon {
    margin-right: 5px;
    font-size: 25px;
    color: #0976f0;
}

.en-save-button {
    --background: transparent !important;
    --box-shadow: none !important;
    margin-top: 4px !important;
}

.en-back-button {
    height: unset;
    margin-top: 3px;
}

.en-storypage-content {
    padding: 15px 15px;
}

.en-storypage-title {
    font-size: 20px;
    margin-top: 5px;
}

.en-storypage-time {
    font-size: 12px;
    color: #9f9f9f;
    /* border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f; */
    height: 35px;
    padding-top: 7px;
    margin-bottom: 10px;
}

.en-storypage-by {
    color: #9f9f9f;
    font-size: 16px;
    margin-bottom: 10px;
}

.en-storypage-small-description {
    font-size: 18px;
    font-weight: bold;
}

.en-storypage-description {
    margin: 0px 10px 20px 10px;
    padding-bottom: 15px;
    font-size:16px;
}

.en-related-stories-title {
    background-color: #f1f5f6;
    font-size: 14px;
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.en-storypage-more-about {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.en-storypage-more-about-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.size-full {
    height: auto;
}