.en-video-latest-programmes {
    background-color: #081f2d;
    height: auto;
    padding: 10px 0 10px 10px;
}

.en-home-latest-video-news {
    position: relative;
}

.en-icon-nocomment-play {
    position: absolute;
    color: #fff;
    top: 30%;
    right: 2%;
    font-size: 25px;
}

.en-video-latest-programmes-title {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.en-video-latest-programmes .en-video-latest-programmes-news {
    background-color: #1c3247;
    width: 240px;
    height: auto;
    margin-right: 10px;
}

.en-video-latest-programmes-news-img {
    width: 240px;
}

.en-video-latest-programmes-news-content {
    height: 120px;
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}

.en-video-latest-programmes-news-title {
    width: 240px;
    text-align: left;
    color: #fff;
}

.en-video-latest-programmes-news-time {
    text-align: left;
    color: #9f9f9f;
    font-size: 11px;
    margin-bottom: 30px;
    width: 240px;
    margin-top: 5px;
}

.en-video-latest-programmes-news-located {
    text-align: left;
    color: #9f9f9f;
    font-size: 11px;
    margin-bottom: 30px;
    width: 240px;
    margin-top: 5px;
}

.en-video-latest-programmes-news-category {
    height: 40px;
    border-top: 1px solid #fff;
    width: 240px;
    padding: 10px;
    color: #9f9f9f;
    font-size: 11px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.en-video-latest-programmes-view-more div {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    width: 150px;
}

.en-video-ad {
    background-color: #1c3247;
}

.en-video-global-conversation-title {
    background-color: #081f2d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 40px;
}

.en-modal {
    --background: #081f2d;
    overflow: auto;
}

.en-modal > div {
    overflow: auto;
}

.en-modal-title {
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 40px;
    
}

.ios .en-modal-title {
    padding-top: 20px;
    height: 60px;
}

.en-modalvideo-close {
    font-size: 22px;
    margin-top: 3px;
}

.en-video-musica-title {
    background-color: #081f2d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 40px;
}

.en-video-programmes-title {
    background-color: #081f2d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 40px;
}

.en-video-programmes-category-right {
    margin-left: 1px;
    margin-bottom: 2px;
    display: block;
}

.en-video-programmes-category-left {
    margin-right: 1px;
    display: block;
    
}
.programs-section{
    max-height:107px !important;
    overflow:hidden;
    margin-top: 1px;
}
.programs-img{
    max-height:100%;
     max-width:100%;
    height: 105px;
    object-fit: fill;

}

.programs-section:nth-child(-n+2) {
    margin-top: 0 !important;
}