.en-weather {
    
    color: #fff;
}

.en-weather-part1 {
    background-image: url("/assets/images/weather-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    /* position: relative; */
    display: flex;
    align-items: end;
    padding-bottom: 0;
}

.en-weather-title {
    margin-bottom: 1%;
}

.weather-icon{
    background-position: center center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.en-weather-title h1 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

.en-weather-search-col {
    margin-bottom: 40%;
}

.en-weather-search {
    --background: rgba(255, 255, 255, .2);
    --border-radius: 0px;
}

.en-weather-search .searchbar-input.sc-ion-searchbar-md{
    padding-inline-start: 15px;
    color: #fff;
}
.en-weather-search .searchbar-search-icon.sc-ion-searchbar-md{
    display:none; 
    width:0;
     height:0;
    /* left: unset !important;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: #eaa14a;
    padding: 8.5px; */
}

#weather-content{
    --keyboard-offset: 0px !important;
    overflow: visible;
}

.en-weather-city-name {
    background-color: #143352;
    
    padding-left: 13%;
    margin-bottom: 1%;
}
.en-weather-copernicus-div{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.en-weather-city-name h5 {
    margin: 8px;
    font-size: 15px;
}



.en-weather-today {
    background-color: rgb(31, 77, 121);
    padding: 10px;
    /* position: absolute; */
    padding-bottom: 15%;
    height:18%;
}

.en-weather-today-descrip {
    background-color: rgb(31, 77, 121);
    padding: 10px;
    color: #fff;
    height: auto;
    padding-bottom: 15px;
}

.en-weather-today-title {
    font-size: 15px;
}

.en-weather-today-title-text {
    font-size: 18px;
    font-weight: 500;
}

.en-today-high-temperatures {
    color: #eaa14a;
}

.en-accordion-header {
    --background: rgb(31, 77, 121);
    color: #fff;
}

ion-accordion.accordion-animated > [slot=header] .ion-accordion-toggle-icon {
    color: #fff !important;
}

.en-accordion-item {
    --background: rgb(31, 77, 121);
    color: #fff
}

.en-weather-part2 {
    background-color: #173d60;
    padding-left: 30px;
    padding-right: 30px;
}

.en-weather-slider-days {
    background-color: #376ea2;
    color: #fff;
    padding: 5px;
}

.en-weather-slider-days-title h6{
    margin: 0;
    font-size: 15px;
}

.en-weather-slider-days-title-date {
    font-size: 12px;
}

/* .en-weather-slider-days-temperatures div{
   
    margin-left: 5px;
} */

.en-weather-slider-days-temperatures-img {
    width: 60px;
    height: auto;
}

.en-weather-slider-days-high-temperatures {
    margin-top: 23px;
    display: inline-block;
}

.en-weather-days-description {
    color: #fff;
}


.en-weather-days-description h3{
    font-size: 25px;
    margin-bottom: 0;
}

.en-weather-days-description p {
    margin-top: 0;
}

.en-weather-days-precipitation {
    background-color: #0f2d46;
    padding-bottom: 30px !important;
    color: #fff;
}

.en-weather-days-precipitation-title {
    text-align:center
}

.en-weather-days-precipitation-segment {
    background-color: #0f2d46;
    color: #fff;
    --background-checked: var(--ion-color-success);
}

.en-segment-active {
    background-color: #376ea2;
}

.en-weather-days-precipitation-segment-icon {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.en-weather-description {
    background-color: #173d60;
    color: #fff;
    padding-top: 20px;
}

.chartWrapper {
    /* position: relative; */
    overflow-x: scroll;
 }
 .chartWrapper > canvas {
    /* position: absolute; */
    left: 0;
    top: 0;
    pointer-events:none;
 }
 .chartAreaWrapper {
    height:400px;
    width:2300px
 }
 .swiper-button-prev {
    left: -8% !important;
    top: 50% !important;
    transform-origin: left center;
    color: black
  }
  .swiper-button-next {
    right: -8% !important;
    bottom: 50% !important;
    transform-origin: right center;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
      font-size: 25px !important;
      color: #eaa14a;
  }

  .dropdown-wrapper{
      z-index: 99999999999;
      width:100%;
      display: flex;
      justify-content: center;
  }
  .dropdown {
    width:95%;
    background-color: rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: column;
  }
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding-left:13px;
    color:white;
    font-size: 13px;
  }