.en-weather-new-content-parent {
    /*background-image: url("../../public/assets/images/weather_back_cloudy.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100%;
    /*height: 100%;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /* position: relative; */
    /*display: flex;*/
    /*align-items: end;*/
    /*padding-bottom: 0;*/
}

.weather-second-color {
    color: #91d8f7;
}

h1, h5 {

}

.d-inline {
    display: inline-block;
}

.weather-main-top-section-parent {
    align-items: center;
    display: flex;
    justify-content: center;
}

.weather-main-top-city-select-col {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.weather-main-top-city-select-col ion-button{
    background: #45719dbf;
    color: #fff;
    width: 100%;
    border-radius: 6px 6px 0 0;
    text-transform: none;
    margin: 0 !important;
}

.weather-main-top-section-degree-unit {
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui;
    text-shadow: 1px 1px 2px #848081;
}

.weather-main-top-section-degree {
    font-size: 6.5rem;
    font-family: sans-serif;
    margin: 0 !important;
    line-height: 1.0;
    text-shadow: 1px 1px 2px #848081;
}

.weather-main-top-section-city-name {
    font-size: 1.5rem;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin: 0 !important;
    color: rgb(65, 103, 140);
}

.weather-main-top-section-current-weather {
    font-size: 1.2rem;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin: 0 !important;
    color: rgb(65, 103, 140);
}

.glossy-card {
    /*background: #5285b775;*/
    background: #45719dbf;
    color: #fff;
    box-shadow: unset;
    margin: 0 10px;
}

.weather-card-header {
    padding: 8px;
    padding-bottom: 4px;
}

.weather-card-content {
    padding: 8px 4px !important;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

ion-card-title {
    color: #fff;
}

.weather-status-text {
    font-size: 0.9rem !important;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin: 0 0px 5px 0!important;
}

.weather-status-text-degree{
    font-size: 1.1rem !important;
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin: 5px 0px !important;
}

.card-header-hr {
    margin: 7px 0px 0 0px;
    background: #91d8f750;
}

.weather-current-day-header-title {
    margin: 5px 0;
}

.weather-weekly-item {
    --background: transparent;
    --border-color: #91d8f7;
    --padding-start: 5px;
    --padding-end: 5px;
    --inner-padding-end: 0px
}

.weekly-cols-icon {
    align-items: center;
    display: flex;
    justify-content: center;
}

.weekly-cols {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 40px;
    padding: 5px 0px;
}

.weekly-cols-gradient {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 80px;
    padding: 5px 0px;
}

.weather-weekly-item ion-row{
    width: 100%;
}

.weekly-cols-min {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekly-cols-max {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekly-cols ion-label {
    color: #fff;
    font-weight: 100;
    font-family: sans-serif;
}

.weekly-weather-icon {
    width: 36px;
}

.weather-weekly-header-title {
    color: #91d8f7;
}




.weekly-degree-min {
    color: #91d8f7 !important;
}

.weekly-degree-label {
    margin: 0 8px;
}


.weekly-slider {
    width: 45%;
    -webkit-appearance: none;
    margin: 0;
    background-color: transparent;
}
.weekly-slider:focus { outline: none; }
.weekly-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    background: linear-gradient(to right, #dfe335, #f29e36, #f16538);
    /*border-radius: 20px;*/
    /*border: 0.2px solid #010101;*/
}
.weekly-slider::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 6px;
    width: 6px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
    display: none;
}


.gradient-slider {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    background-color: transparent;
}

.gradient-slider:focus { outline: none; }

.gradient-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    background: linear-gradient(to right, #1f73ed, #57cbf2,#6ad3ca, #dbce28, #ff6732, #750003);
    /*border-radius: 20px;*/
    /*border: 0.2px solid #010101;*/
}
.gradient-slider::-webkit-slider-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*border: 1px solid #000000;*/
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
    /*display: none;*/
}

.gradient-slider-aqi {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    background-color: transparent;
}

.gradient-slider-aqi:focus { outline: none; }

.gradient-slider-aqi::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    background: linear-gradient(to right, #009966, #ffde33,#ff9933, #cc0033, #660099, #7e0023);
    /*border-radius: 20px;*/
    /*border: 0.2px solid #010101;*/
}
.gradient-slider-aqi::-webkit-slider-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*border: 1px solid #000000;*/
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
    /*display: none;*/
}

.gradient-slider-uv {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    background-color: transparent;
}

.gradient-slider-uv:focus { outline: none; }

.gradient-slider-uv::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    background: linear-gradient(to right, #83c88b, #ffdc01,#f89c1c, #ee1d23, #d83484);
    /*border-radius: 20px;*/
    /*border: 0.2px solid #010101;*/
}
.gradient-slider-uv::-webkit-slider-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*border: 1px solid #000000;*/
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
    /*display: none;*/
}

.weather-boxes-second-heading {
    font-family: sans-serif;
    font-size: 30px !important;
    display: inline-block;
}

.fov-heading {
    font-family: sans-serif;
    font-size: 55px !important;
    text-align: center;
}

.realfeel-heading {
    font-family: sans-serif;
    font-size: 55px !important;
    text-align: center;
}

.fov-heading-sub {
    font-family: sans-serif;
    /*font-size: 15px !important;*/
    text-align: center;
}

.weather-boxes-third-heading {
    font-family: sans-serif;
    font-size: 16px !important;
    display: inline;
}

.weather-boxes-description{
    font-family: sans-serif;
    font-size: 14px !important;
}

.weather-boxes-description-uv{
    font-family: sans-serif;
    /*font-size: 12px !important;*/
}

.mt-top-1 {
    margin-top: 1rem !important;
}

.weather-boxes-main-heading {
    margin: 0 0 0 6px !important;
    font-size: 19px !important;
    display: block;
}

.pain-index-desc, .mosquito-index-desc {
    /*font-family: sans-serif;*/
     font-size: 15px !important;
    text-align: center;
}

.pain-index-heading, .mosquito-index-heading {
    font-family: sans-serif;
    font-size: 55px !important;
    text-align: center;
    display: block;
}

.weather-boxes-main-heading-parent-col {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.weather-boxes-heading-icon {
    width: 24px;
    color: #91d8f7;
    /*filter: brightness(0) invert(1);*/
    margin-right: 10px;
    filter: invert(70%) sepia(80%) saturate(276%) hue-rotate(170deg) brightness(102%) contrast(94%);
}

.two-cards-row-card-left {
    margin-inline-end: 0;
    min-height: 198px;
    height: 100%;
}

.two-cards-row-card-right {
    margin-inline-start: 0;
    min-height: 198px;
    height: 100%;
}

.weather-compass-img-parent {
    display: flex;
}

.weather-compass-img-degrees {
    width: 122px;
}


.weather-compass-img-hand {
    height: 100%;
    top: 50%;
    position: absolute;
    left: 50.5%;

    /*animation: spin 1s linear 0s 3 alternate;*/

}


.weather-compass-img-center-text {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    font-size: 22px !important;
}

.weather-compass-img-center-text-mini-desc {
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    /*font-size: 14px !important;*/
}

@-moz-keyframes spin {
    100% { -moz-transform: translate(-50%, -50%) rotate(-45deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: translate(-50%, -50%) rotate(-45deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform:translate(-50%, -50%) rotate(-0deg);
    }
}

.slider-range {
     height: 5px;
    width: 125px;
}

.slider-back {
    position: absolute;
    left: 0;
    height: 5px;
    background-color: #de4141;
    /*margin: 0 7px;*/
    background: linear-gradient(to right, rgb(223, 227, 53), rgb(242, 158, 54), rgb(241, 101, 56));
    width: 100%;
}

.left-mask {
    position: absolute;
    left: 0;
    height: 5px;
    background-color: #4872a3;
    /*margin: 0 7px;*/
}

.right-mask {
    position: absolute;
    right: 0;
    height: 5px;
    background-color: #4872a3;
    /*margin: 0 7px;*/
}

.range {
    position: absolute;
    right: 0;
    height: 5px;
    /*border-radius: 10px;*/
    background-color: #dd4343;
    display: none;
    /*margin: 0 7px;*/
}

.current-knob {
    position: absolute;
    top: 15px;
    z-index: 2;
    height: 4px;
    width: 4px;
    text-align: left;
    /*margin-left: -11px;*/
    cursor: pointer;
    /*box-shadow: 0 3px 8px rgba(0,0,0,.4);*/
    background-color: #fff;
    border-radius: 50%;
    outline: none;
}

.swiper-pagination-bullets {
    display: none;
}

.swiper-scrollbar {
    display: none;
}

.weather-spinner {
    width: 48px;
    height: 48px;
    color: #fff;
}

.weather-detail-top-section-parent {
    margin-top: 3rem;
}

.weather-detail-top-section-degree {
    display: block;
    font-family: sans-serif;
    text-align: center;
    margin: 0 !important;
}

.city-select-card {
    margin: 0;
    margin-top: -10px;
    border-radius: 0 0 5px 5px !important;
}

.weather-city-select-card-content {
    padding: 4px 40px 0 20px;
    max-height: 290px;
    overflow-y: scroll;
}

.weather-selected-city-gps-icon{
    margin-inline-end: 5px;
}

.weather-city-selection-label {
    color: #fff;
    font-weight: 100;
    font-family: sans-serif;
}