.en-bg-dark {
    background-color: #1c3247;
    border-bottom: 1px solid #eee;
}

.en-big-story-dark-label {
    background-color: #1c3247;
    position: absolute;
    bottom: -15px;
    width: auto;
    border-radius: 0 15px 15px 0;
}

.en-big-story-dark-tithe {
    padding: 0 8px;
    margin-bottom: 25px;
    color: #fff;
}