.en-global-news {
  background-color: #1c3247;
  position: relative;
}

.en-icon-global-play {
  position: absolute;
  color: #fff;
  top: 55%;
  right: 10%;
  font-size: 25px;
}

.en-global-news-title {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-right:10px;
  color: #fff;

}

.en-home-news-locate {
  margin-left: 10px;
  font-size: 12px;
  color: #9f9f9f;
}

.en-home-news-time {
  margin-left: 10px;
  font-size: 12px;
  color: #9f9f9f;
}

.en-global-news-borderbottom {
  border-bottom: 2px solid #081f2d;
  
}

.en-listpage-story {
  border-bottom: 1px solid #eee;
}
.global-column{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.global-story-images {
  height: 84px;
  object-fit: fill;
}