.en-header {
  text-align: center;
  padding: 0px 15px;
  background-color: transparent;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.ios .en-header {
  padding-top: 35px;
  height: 95px;
}
.ios .en-header-inside {
  padding-top: 30px;
  height: 75px;
}
.en-header-inside{
  padding-top: 10px;
  height: 50px;
}

.en-header-fixed{
  position: fixed;
  left: 0;
  right:0;
  top: 0;
}

.en-header-bg{
  /*background-color: #005586;*/
  /*background-color: #006eb9;*/
  /*background-color: #0172f0;*/
  background-color: #ffffff;
}

.en-header-drak-bg {
  /*background-color: #081f2d;*/
  /*background-color: #0172f0;*/
}

.en-header-offline-mode {
  /*float: left;*/
  color: #fff;
  font-size: 25px;
  /*position: absolute;*/
  /*left: 1%;*/
}


.en-header-logo {
  /*width: 40%;*/
  /*float: left;*/
}

.en-header-streaming {
  /*float: right;*/
  color: #fff;
  font-size: 25px;
  /*position: absolute;*/
  /*right: 1%;*/
}

.en-live-streaming {
  font-size: 2em;
}

.en-live-streaming-play{
  position: absolute;
  font-size: 11px;
  top: 7px;
  right: 8px;
}

@media screen and (min-width: 767px) {
  .en-header{
    height: 70px;
  }

  .en-header-logo {
    width: 30%;
  }
}

.en-live-streaming-alert .alert-button.sc-ion-alert-md {
  width: 50%;
}

.en-live-streaming-alert .alert-button-role-cancel {
  border-right: 1px solid #eee;
}