.en-justin-news {

  border-bottom: 0px solid white !important;
  border-top: 0px solid white !important;

  position: relative;
  margin-top: 2px;
}

.en-icon-justin-play {
  position: absolute;
  color: #fff;
  top: 55%;
  right: 10%;
  font-size: 25px;
}

.en-justin-news-title {
  font-weight:bold;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 4px;
}

.en-justin-news-time-p {
  margin-left: 10px;
  font-size: 12px;
}

.justin-image-parent {
  height: 86px;
}

.en-justin-news-time {
  height:20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 12px;
}
.en-time-icon {
  font-size: 6px;
  margin-bottom: 1px;
  margin-right: 5px;
}

.en-justin-news-img {
  height:100%;
  width:100%;
  /*max-height: 76px;*/
}