.en-label {
  color: #fff;
  padding-right: 2px;
  border: 5px solid;
  position: relative;
  border-radius: 15px;
  padding-top: 3px;
  text-align: center;
  padding-bottom: 3px;
}

.en-label-div {
  font-size: 11px;
}

.en-label-span{
  border: 5px solid;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -2px;
  left: -5px;
}
.input-cover {
  position: static;
}
.en-label-red {
  background-color: #007DF8;
  width: 160px;
}

.en-label-green {
  background-color: #449c38;
  width: 220px;
}

.en-label-yellow {
  background-color: #f2b040;
  width: 105px;
}

.en-label-borderblue {
  border-color: #1c3247;
}

.en-label-borderdarkblue {
  border-color: #081f2d;
}
