.en-madal-icon {
    font-size: 60px;
    border: 1px solid #000;
    color: #000;
    padding: 30px;
    border-radius: 65px;
}

.en-modals-title {
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
    font-weight: bold;
}
.en-offline-title{
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    font-weight: bold;
}

.en-modals-text {
    color: #807d7d;
    font-size: 15px;
    padding-right: 16%;
    padding-left: 16%;
}

.ios .en-modals {
    padding-top: 30px;
}

.ios .en-modal {
    padding-top: 20px;
}