.en-modalvideo {
  background-color: #1c3247;
  border-bottom: 1px solid #97aab9;
}

.en-modalvideo-title {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 0%;
}

.en-modalvideo-descripton {
  text-align: left;
  font-size: 14px;
  color: #97aab9;
  margin-top: 5px;
  
}

.en-modalvideo-read-more {
  color: #fff;
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 14px;
    line-height: 3;
}

.video-dialog-video-title{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
}

.en-modalvideo-time {
  font-size: 10px;
  color: #97aab9;
  margin-bottom: 10px;
    margin-top: 10px;
}

.en-modalvideo-button {
  color: #fff;
  font-size: 22px;
  border: 1px solid #fff;
  padding: 4px 2px;
  margin-right: 15px;
  border-radius: 2px;
}

.scrollFade {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--hidden {
	opacity: 0.15;
	pointer-events: none;
}

.scrollFade--visible {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--animate {
	transition: opacity 0.4s ease-in-out;
}
#background-content{
  background: transparent !important;
}