.en-offline-header {
  background-color: #ef9235;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 111;
  height: 35px;
  padding-top: 15px;
}

.ios .en-offline-header {
  height: 60px;
  padding-top: 40px;
}

.en-offline-header-text {
  color: #fff;
  font-size: 12px;
}