
.en-offline-icon-background {
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.en-offline-icon-image {
    font-size: 60px;
    color: #bdbec0;
    padding: 30px;
    border-radius: 65px;
}

