.en-offline-icon-smallstory {
  font-size: 60px;
  color: #bdbec0;
}

.en-offline-icon-smallstory-col {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.en-offline-icon-smallstory-row {
  text-align: right;
}

.en-offline-icon-smallstory-row h2 {
  font-weight: normal;
  padding-right: 4%;
}

.en-switch-online-smallstory {
  --background: transparent !important;
  --box-shadow: none !important;
  color: #69696b;
}