.en-related-stories-news {
  margin-top: 15px;
  padding-bottom: 5px !important;
}

.en-home-news-title {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 4px;
  text-decoration: none;
}

.en-home-news-locate {
  margin-left: 10px;
  font-size: 12px;
  color: #9f9f9f;
}

.en-home-news-time {
  margin-left: 10px;
  font-size: 12px;
  color: #9f9f9f;
  text-decoration: none;
}