
.en-searchnoresult-title {
    color: #565656;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.en-offline-content {
    text-align: center !important;
    padding: 30% 20% !important;
}

.en-searchnoresult-icon {
    font-size: 120px;
    color: #bdbec0;
    padding: 30px;
    border-radius: 65px;
}

.en-switch-online {
    --background: #235383 !important;
    --box-shadow: none !important;
    margin-top: 10px;
    --border-radius: 20px;
}

