.en-home-news {
  margin-top: 2px;
  /*margin-bottom: 10px;*/
}

.en-home-news-title {
  font-size: 14px;
  margin-left: 10px;
  /* margin-top: 10px; */
  margin-bottom: 15px;
  margin-right:10px;
  text-decoration: none;
}

.max-height-small-story {
  max-height: 86px;
}
.en-home-news-locate {
  margin-left: 10px;
  font-size: 12px;
  color: #9f9f9f;
}

.en-home-news-time {
  margin-left: 10px;
  font-size: 12px;
  color: #9f9f9f;
  text-decoration: none;
}

.en-justin-news-img {
  max-height: 100px;
  display:inline;
}

.ios .en-story-link {
  text-decoration: none;
}
.small-story-column{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}