.cube-section{
    /* height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.en_icon_play {
    top: 40%;
    right: 5%;
}

.date_time_container {
    position: absolute;
    bottom: 5%;
    margin-top: unset;
    margin-bottom: unset;
    padding-left: unset;
}