.en-notification-header {
    /*background-color: #005586;*/
    background-color: #0172f0;
    color: #fff;
    height: 50px;
    font-size: 14px;
}

.ios .en-notification-header{
    padding-top: 15px;
    height: 65px;
}

.en-notif-title {
    color: #565656;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.en-offline-content {
    text-align: center !important;
    padding: 30% 20% !important;
}

.en-offline-icon {
    font-size: 60px;
    border: 1px solid #bdbec0;
    color: #bdbec0;
    padding: 30px;
    border-radius: 65px;
}

.en-retray {
    --background: transparent !important;
    --box-shadow: none !important;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #235383;
    --color: #235383;
    padding: 10px;
    font-weight: normal;
}

